body
{
    background : #012000;
}
h1
{
    color : #3A943A;
    font-family: monospace;
    /*text-shadow: 0.5px 0.5px 5px #3A943A;*/
    
}

h2
{
    color : #3A943A;
    font-family: monospace;
    
}

.cursor
{
    color : black;
    animation : blink 0.6s infinite alternate;
}

hr
{
    color : #3A943A;
    border : 1px solid #3A943A;
    /*box-shadow: 1px 1px 2px #77E600;*/
}

fieldset
{
    padding : 20px;
    border-color : #012000;
    
}

legend
{
    font-family: monospace;
    color : #3A943A;
    font-size : 20px;

}

label
{
    display : inline-block;
    float : left;
    clear : left;
    width : 100px;
    text-align: right;
    color : #3A943A;
    font-family: monospace;
    font-size: 15px;
    
}

.login
{
    display:inline-block;
    float:left;
    background-color: black;
    color : #3A943A;
    height : 20px;
    border : 1px solid #012000;
}

.login:focus
{
    background-color: #3A943A;
    color : black;
}

#output
{
    color : #3A943A;
    margin: auto;
}

#playbtn, #leaderbtn
{
    background-color: #012000;
    color: #3A943A;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

#playbtn:hover, #leaderbtn:hover
{
    background-color: #3A943A;
    color: #012000 ;
    border: none;
    font-weight: bold;
}

#submitButton
{
    float : left;
    display : inline-block;
    background: linear-gradient( to right,red 0%,
                                        orange 15%,
                                        yellow 30%,
                                        lime 45%,
                                        blue 60%,
                                        purple 85%,
                                        red 100%);
    
    color: white;
    
    
}

.paddle
{
    background-color: #3A943A;
    width : 5%;
    height : 10%;
    position: absolute;
}

.ball
{
    
}

#board
{
    background-color: #012000;
}


pre
{
    color: #3A943A;
}

.button
{
    font-family: monospace;
    /*background-color: #3A943A;*/
    color: #3A943A;
    
}

.score
{
    color : #3A943A;
    font-size : 20px;
    font-family: monospace;
    
}

text
{
	font-family: monospace;
}

#gameWrapper
{
    margin-left:auto;
    margin-right: auto;
    background-color : black;
    padding: 20px;
}

line
{
    stroke:#3A943A;
}

svg
{
    transform: rotate(45);
}

rect
{
    fill:#3A943A;
}

@keyframes blink
{
    from
    {
        color: #012000;
        /*text-shadow: 0px 0px #012000; */
    }
    to
    {
        color: #3A943A;
        /*text-shadow: 1px 1px 5px #3A943A;*/
    }
}
